<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>강사목록</title>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <h1>선생님 목록</h1>

    <button onclick="location.href='/teacher-new'">강사 등록</button>

    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>과목</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="teacher : ${teachers}" th:onclick="onClickRow([[${teacher.id}]])" class="table-row">
                <td th:text="${teacher.id}"></td>
                <td th:text="${teacher.name}"></td>
                <td th:text="${teacher.subject}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>

<script>
    function onClickRow(id) {
        location.href = "/teacher/" + id;
    }
</script>