<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Test</title>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <h1>학생목록</h1>

    <button onclick="location.href='/new-student'">학생등록</button>

    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>주소</th>
                <th>입학일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}" th:onclick="onClickRow([[${student.studentId}]])" class="table-row">
                <td th:text="${student.studentId}"></td>
                <td th:text="${student.studentName}"></td>
                <td th:text="${student.studentAddress}"></td>
                <td th:text="${student.admissionDate}"></td>
            </tr>
        </tbody>
    </table>


    <input id="comment" placeholder="댓글을 입력하세요">
    <button onclick="addComment()">댓글달기</button>

    <div id="commentContainer"></div>
</body>
</html>

<script>
    function onClickRow(studentId) {
        location.href = "/student/" + studentId;
    }

    function addComment() {
        var comment = $("#comment").val();
        $("#commentContainer").append("<div>" + comment + "</div>");
    }
</script>